.box {
    display  : inline-block;
    width : 50px;
    height : 50px;
    overflow : hidden;
}
.box:hover {
    width : auto;
    position : relative;
    bottom : 10vw;
}
.box:last-child {
    width : auto;
}
.card {
    border-radius : 10px;
    border : 1px solid black;
    height : 100px;
}
.hand {
    text-align : center;
    border : 1px solid red;
    width : 100vw;
    height : 100px;
}
body {
    background-color : lightgreen;
    /*overflow : hidden;*/
}